/* <img src="images/partnership-consultants-and-system-integrators.jpg" alt="Consultants and system integrators" loading="lazy" 
style="max-width: 100%; height: auto;">

div class="scesv1-section " style="background-color: rgba(245, 248, 250, 1.0);"> */




.row-fluid [class*=span] {
    min-height: 1px!important
}

.scesv1-section {
    padding: 50px 0
}

.scesv1-section.show-bg-image {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover
}

.scesv1-container {
    margin: 35px auto;
    max-width: 1170px;
    padding: 0 15px
}

.scesv1-content-details {
    margin-bottom: 30px;
    width: 100%;
    z-index: 222
}

.scesv1-thumbnail-wrap {
    max-width: 100%;
    width: auto
}

.scesv1-wrapper.Left,.scesv1-wrapper.Right {
    display: flex;
    flex-direction: column
}

.scesv1-content-wrap h3 {
    color: #3c556e;
    font-family: Gotham-hero;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 15px
}

.scesv1-content-wrap ul {
    list-style: inside;
    margin: 0;
    padding: 0 0 0 20px
}

.scesv1-content-wrap p {
    margin: 0 0 15px
}

.scesv1-content-wrap p,.scesv1-content-wrap ul li {
    color: #6d6d77;
    font-family: Gotham-regular;
    font-size: 16px;
    line-height: 26px
}

.scesv1-content-wrap ul li {
    margin: 0 0 8px;
    position: relative
}

.scesv1-content-wrap p a,.scesv1-content-wrap ul li a {
    color: #1f89de;
    text-decoration: none
}

.scesv1-content-wrap p a:hover,.scesv1-content-wrap ul li a:hover {
    opacity: .5
}

.scesv1-content-wrap ul li {
    list-style: none
}

.scesv1-content-wrap ul li:before {
    background-image: url(../fonts/icons-tick-icon.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 24px;
    left: -20px;
    position: absolute;
    width: 12px
}

.scesv1-wrapper.Left .scesv1-content-details {
    padding-left: 0
}

.scesv1-wrapper.Right .scesv1-content-details {
    padding-right: 0
}

p.scesv1_title-tag {
    background: rgba(60,85,110,.06);
    color: rgba(60,85,110,.8);
    display: none;
    font-family: Gotham-hero;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 15px;
    padding: 5px 10px;
    right: 0
}

p.scesv1-bottom-link {
    font-size: 14px;
    line-height: 24px;
    margin: 20px 0 0
}

p.scesv1-bottom-link a {
    color: #1f89de;
    opacity: 1;
    text-decoration: none
}

p.scesv1-bottom-link a:hover {
    opacity: .5
}

span.scesv1-title-head {
    color: #3c556e;
    display: block;
    font-family: Gotham-hero;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 24px;
    margin: 0 0 6px;
    right: 0;
    text-transform: uppercase
}

@media (min-width: 768px) {
    .scesv1-section {
        padding:100px 0 20px
    }

    .scesv1-container {
        margin-bottom: 100px
    }

    .scesv1-content-details {
        width: 50%
    }

    .scesv1-thumbnail-wrap {
        padding: 0;
        width: 50%
    }

    .scesv1-wrapper.Right {
        display: flex;
        flex-direction: inherit
    }

    .scesv1-wrapper.Left {
        display: flex;
        flex-direction: row-reverse
    }

    .scesv1-content-details {
        margin-bottom: 0
    }

    .scesv1-wrapper.Left .scesv1-content-details {
        padding-left: 20px
    }

    .scesv1-wrapper.Right .scesv1-content-details {
        padding-right: 20px
    }

    .scesv1-content-wrap h3 {
        font-size: 24px;
        line-height: 34px
    }
}

@media (min-width: 992px) {
    .scesv1-content-details,.scesv1-thumbnail-wrap {
        width:50%
    }

    .scesv1-wrapper.Left .scesv1-content-details {
        padding-left: 30px
    }

    .scesv1-wrapper.Right .scesv1-content-details {
        padding-right: 30px
    }
}
